In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor

In [4]:
df_energy=pd.read_csv("train.csv")
df_energy.head()

,year_factor,facility_type,floor_area,elevation,january_avg_temp,february_avg_temp,march_avg_temp,april_avg_temp,may_avg_temp,june_avg_temp,july_avg_temp,august_avg_temp,september_avg_temp,october_avg_temp,november_avg_temp,december_avg_temp,cooling_degree_days,heating_degree_days,precipitation_inches,site_eui
0,1,Grocery_store_or_food_market,61242.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,62.16129,64.65,63.016129,53.8,49.274194,115,2960,16.59,248.682615
1,1,Warehouse_Distribution_or_Shipping_center,274000.0,1.8,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,62.16129,64.65,63.016129,53.8,49.274194,115,2960,16.59,26.500150
2,1,Retail_Enclosed_mall,280025.0,1.8,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,62.16129,64.65,63.016129,53.8,49.274194,115,2960,16.59,24.693619
3,1,Education_Other_classroom,55325.0,1.8,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,62.16129,64.65,63.016129,53.8,49.274194,115,2960,16.59,48.406926
4,1,Warehouse_Nonrefrigerated,66000.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,62.16129,64.65,63.016129,53.8,49.274194,115,2960,16.59,3.899395

In [5]:
df_energy['facility_type'].unique()

array(['Grocery_store_or_food_market',
       'Warehouse_Distribution_or_Shipping_center',
       'Retail_Enclosed_mall', 'Education_Other_classroom',
       'Warehouse_Nonrefrigerated', 'Warehouse_Selfstorage',
       'Office_Uncategorized', 'Data_Center', 'Commercial_Other',
       'Mixed_Use_Predominantly_Commercial',
       'Office_Medical_non_diagnostic', 'Education_College_or_university',
       'Industrial', 'Laboratory',
       'Public_Assembly_Entertainment_culture',
       'Retail_Vehicle_dealership_showroom', 'Retail_Uncategorized',
       'Lodging_Hotel', 'Retail_Strip_shopping_mall',
       'Education_Uncategorized', 'Health_Care_Inpatient',
       'Public_Assembly_Drama_theater', 'Public_Assembly_Social_meeting',
       'Religious_worship', 'Mixed_Use_Commercial_and_Residential',
       'Office_Bank_or_other_financial', 'Parking_Garage',
       'Commercial_Unknown', 'Service_Vehicle_service_repair_shop',
       'Service_Drycleaning_or_Laundry', 'Public_Assembly_Recreation',
       'Service_Uncategorized', 'Warehouse_Refrigerated',
       'Food_Service_Uncategorized', 'Health_Care_Uncategorized',
       'Food_Service_Other', 'Public_Assembly_Movie_Theater',
       'Food_Service_Restaurant_or_cafeteria', 'Food_Sales',
       'Public_Assembly_Uncategorized', 'Nursing_Home',
       'Health_Care_Outpatient_Clinic', 'Education_Preschool_or_daycare',
       '5plus_Unit_Building', 'Multifamily_Uncategorized',
       'Lodging_Dormitory_or_fraternity_sorority',
       'Public_Assembly_Library', 'Public_Safety_Uncategorized',
       'Public_Safety_Fire_or_police_station', 'Office_Mixed_use',
       'Public_Assembly_Other', 'Public_Safety_Penitentiary',
       'Health_Care_Outpatient_Uncategorized', 'Lodging_Other',
       'Mixed_Use_Predominantly_Residential', 'Public_Safety_Courthouse',
       'Public_Assembly_Stadium', 'Lodging_Uncategorized',
       '2to4_Unit_Building', 'Warehouse_Uncategorized'], dtype=object)

In [6]:
dummies= pd.get_dummies(df_energy.facility_type)
dummies.head(10)

,2to4_Unit_Building,5plus_Unit_Building,Commercial_Other,Commercial_Unknown,Data_Center,Education_College_or_university,Education_Other_classroom,Education_Preschool_or_daycare,Education_Uncategorized,Food_Sales,...,Retail_Uncategorized,Retail_Vehicle_dealership_showroom,Service_Drycleaning_or_Laundry,Service_Uncategorized,Service_Vehicle_service_repair_shop,Warehouse_Distribution_or_Shipping_center,Warehouse_Nonrefrigerated,Warehouse_Refrigerated,Warehouse_Selfstorage,Warehouse_Uncategorized
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
df= pd.concat([df_energy, dummies.drop('Warehouse_Uncategorized', axis='columns')], axis= 'columns')
df.head(10)

,year_factor,facility_type,floor_area,elevation,january_avg_temp,february_avg_temp,march_avg_temp,april_avg_temp,may_avg_temp,june_avg_temp,...,Retail_Strip_shopping_mall,Retail_Uncategorized,Retail_Vehicle_dealership_showroom,Service_Drycleaning_or_Laundry,Service_Uncategorized,Service_Vehicle_service_repair_shop,Warehouse_Distribution_or_Shipping_center,Warehouse_Nonrefrigerated,Warehouse_Refrigerated,Warehouse_Selfstorage
0,1,Grocery_store_or_food_market,61242.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,...,False,False,False,False,False,False,False,False,False,False
1,1,Warehouse_Distribution_or_Shipping_center,274000.0,1.8,50.5,50.589286,53.693548,55.5,56.854839,60.5,...,False,False,False,False,False,False,True,False,False,False
2,1,Retail_Enclosed_mall,280025.0,1.8,50.5,50.589286,53.693548,55.5,56.854839,60.5,...,False,False,False,False,False,False,False,False,False,False
3,1,Education_Other_classroom,55325.0,1.8,50.5,50.589286,53.693548,55.5,56.854839,60.5,...,False,False,False,False,False,False,False,False,False,False
4,1,Warehouse_Nonrefrigerated,66000.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,...,False,False,False,False,False,False,False,True,False,False
5,1,Warehouse_Selfstorage,119900.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,...,False,False,False,False,False,False,False,False,False,True
6,1,Warehouse_Nonrefrigerated,91367.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,...,False,False,False,False,False,False,False,True,False,False
7,1,Warehouse_Nonrefrigerated,50422.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,...,False,False,False,False,False,False,False,True,False,False
8,1,Office_Uncategorized,122020.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,...,False,False,False,False,False,False,False,False,False,False
9,1,Office_Uncategorized,102612.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,...,False,False,False,False,False,False,False,False,False,False

In [10]:
df_final = df.drop('facility_type',axis='columns')
df_final.shape

(75757, 78)

In [13]:
df_final.head()

,year_factor,floor_area,elevation,january_avg_temp,february_avg_temp,march_avg_temp,april_avg_temp,may_avg_temp,june_avg_temp,july_avg_temp,...,Retail_Strip_shopping_mall,Retail_Uncategorized,Retail_Vehicle_dealership_showroom,Service_Drycleaning_or_Laundry,Service_Uncategorized,Service_Vehicle_service_repair_shop,Warehouse_Distribution_or_Shipping_center,Warehouse_Nonrefrigerated,Warehouse_Refrigerated,Warehouse_Selfstorage
0,1,61242.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,...,False,False,False,False,False,False,False,False,False,False
1,1,274000.0,1.8,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,...,False,False,False,False,False,False,True,False,False,False
2,1,280025.0,1.8,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,...,False,False,False,False,False,False,False,False,False,False
3,1,55325.0,1.8,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,...,False,False,False,False,False,False,False,False,False,False
4,1,66000.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,...,False,False,False,False,False,False,False,True,False,False

In [12]:
X = df_final.drop(['site_eui'],axis='columns')
X.head(3)

,year_factor,floor_area,elevation,january_avg_temp,february_avg_temp,march_avg_temp,april_avg_temp,may_avg_temp,june_avg_temp,july_avg_temp,...,Retail_Strip_shopping_mall,Retail_Uncategorized,Retail_Vehicle_dealership_showroom,Service_Drycleaning_or_Laundry,Service_Uncategorized,Service_Vehicle_service_repair_shop,Warehouse_Distribution_or_Shipping_center,Warehouse_Nonrefrigerated,Warehouse_Refrigerated,Warehouse_Selfstorage
0,1,61242.0,2.4,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,...,False,False,False,False,False,False,False,False,False,False
1,1,274000.0,1.8,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,...,False,False,False,False,False,False,True,False,False,False
2,1,280025.0,1.8,50.5,50.589286,53.693548,55.5,56.854839,60.5,62.725806,...,False,False,False,False,False,False,False,False,False,False

In [14]:
y = df_final.site_eui
y.head(3)

0    248.682615
1     26.500150
2     24.693619
Name: site_eui, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [16]:
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score
def train_and_evaluate_models(X_train,X_test, y_train, y_test):
    # Initialize different regression models
    models = [
        ("Linear Regression", LinearRegression()),
        ("Decision Tree", DecisionTreeRegressor()),
        ("Random Forest", RandomForestRegressor()),
        ("SVM", SVR()),
        ("K-Nearest Neighbors", KNeighborsRegressor())
    ]
    #Create lists to store the results
    model_names = []
    mse_values = []
    mae_values = []
    rmse_values=[]
    r2_values = []
    
    
    # Fit and evaluate each model
    for model_name, model in models:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)

        mse=mean_squared_error(y_test, y_pred)
        mae=mean_absolute_error(y_test, y_pred)
        rmse=mean_squared_error(y_test, y_pred, squared=False)
        r2 = r2_score(y_test, y_pred)
        model_names.append(model_name)
        mse_values.append(mse)
        mae_values.append(mae)
        rmse_values.append(rmse)
        r2_values.append(r2)
        
        
    metrics_df=pd.DataFrame({
            'Model': model_names,
            'Mean Absolute Error': mae_values,
            'Root Mean Squared Error': rmse_values,
            'Mean Squared Error': mse_values,
            'R-squared (R2)': r2_values
        })
    return metrics_df