In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor

In [21]:
df_energy=pd.read_csv("train.csv")
df_energy.head()

,year_factor,facility_type,floor_area,elevation,avg_temp,cooling_degree_days,heating_degree_days,precipitation_inches,site_eui
0,1,Grocery_store_or_food_market,61242.0,2.4,56.854839,115,2960,16.59,248.682615
1,1,Warehouse_Distribution_or_Shipping_center,274000.0,1.8,56.854839,115,2960,16.59,26.500150
2,1,Retail_Enclosed_mall,280025.0,1.8,56.854839,115,2960,16.59,24.693619
3,1,Education_Other_classroom,55325.0,1.8,56.854839,115,2960,16.59,48.406926
4,1,Warehouse_Nonrefrigerated,66000.0,2.4,56.854839,115,2960,16.59,3.899395

In [22]:
df_energy['facility_type'].unique()

array(['Grocery_store_or_food_market',
       'Warehouse_Distribution_or_Shipping_center',
       'Retail_Enclosed_mall', 'Education_Other_classroom',
       'Warehouse_Nonrefrigerated', 'Warehouse_Selfstorage',
       'Office_Uncategorized', 'Data_Center', 'Commercial_Other',
       'Mixed_Use_Predominantly_Commercial',
       'Office_Medical_non_diagnostic', 'Education_College_or_university',
       'Industrial', 'Laboratory',
       'Public_Assembly_Entertainment_culture',
       'Retail_Vehicle_dealership_showroom', 'Retail_Uncategorized',
       'Lodging_Hotel', 'Retail_Strip_shopping_mall',
       'Education_Uncategorized', 'Health_Care_Inpatient',
       'Public_Assembly_Drama_theater', 'Public_Assembly_Social_meeting',
       'Religious_worship', 'Mixed_Use_Commercial_and_Residential',
       'Office_Bank_or_other_financial', 'Parking_Garage',
       'Commercial_Unknown', 'Service_Vehicle_service_repair_shop',
       'Service_Drycleaning_or_Laundry', 'Public_Assembly_Recreation',
       'Service_Uncategorized', 'Warehouse_Refrigerated',
       'Food_Service_Uncategorized', 'Health_Care_Uncategorized',
       'Food_Service_Other', 'Public_Assembly_Movie_Theater',
       'Food_Service_Restaurant_or_cafeteria', 'Food_Sales',
       'Public_Assembly_Uncategorized', 'Nursing_Home',
       'Health_Care_Outpatient_Clinic', 'Education_Preschool_or_daycare',
       '5plus_Unit_Building', 'Multifamily_Uncategorized',
       'Lodging_Dormitory_or_fraternity_sorority',
       'Public_Assembly_Library', 'Public_Safety_Uncategorized',
       'Public_Safety_Fire_or_police_station', 'Office_Mixed_use',
       'Public_Assembly_Other', 'Public_Safety_Penitentiary',
       'Health_Care_Outpatient_Uncategorized', 'Lodging_Other',
       'Mixed_Use_Predominantly_Residential', 'Public_Safety_Courthouse',
       'Public_Assembly_Stadium', 'Lodging_Uncategorized',
       '2to4_Unit_Building', 'Warehouse_Uncategorized'], dtype=object)

In [23]:
dummies= pd.get_dummies(df_energy.facility_type)
dummies.head(10)

,2to4_Unit_Building,5plus_Unit_Building,Commercial_Other,Commercial_Unknown,Data_Center,Education_College_or_university,Education_Other_classroom,Education_Preschool_or_daycare,Education_Uncategorized,Food_Sales,...,Retail_Uncategorized,Retail_Vehicle_dealership_showroom,Service_Drycleaning_or_Laundry,Service_Uncategorized,Service_Vehicle_service_repair_shop,Warehouse_Distribution_or_Shipping_center,Warehouse_Nonrefrigerated,Warehouse_Refrigerated,Warehouse_Selfstorage,Warehouse_Uncategorized
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [24]:
df= pd.concat([df_energy, dummies.drop('Warehouse_Uncategorized', axis='columns')], axis= 'columns')
df.head(10)

,year_factor,facility_type,floor_area,elevation,avg_temp,cooling_degree_days,heating_degree_days,precipitation_inches,site_eui,2to4_Unit_Building,...,Retail_Strip_shopping_mall,Retail_Uncategorized,Retail_Vehicle_dealership_showroom,Service_Drycleaning_or_Laundry,Service_Uncategorized,Service_Vehicle_service_repair_shop,Warehouse_Distribution_or_Shipping_center,Warehouse_Nonrefrigerated,Warehouse_Refrigerated,Warehouse_Selfstorage
0,1,Grocery_store_or_food_market,61242.0,2.4,56.854839,115,2960,16.59,248.682615,False,...,False,False,False,False,False,False,False,False,False,False
1,1,Warehouse_Distribution_or_Shipping_center,274000.0,1.8,56.854839,115,2960,16.59,26.500150,False,...,False,False,False,False,False,False,True,False,False,False
2,1,Retail_Enclosed_mall,280025.0,1.8,56.854839,115,2960,16.59,24.693619,False,...,False,False,False,False,False,False,False,False,False,False
3,1,Education_Other_classroom,55325.0,1.8,56.854839,115,2960,16.59,48.406926,False,...,False,False,False,False,False,False,False,False,False,False
4,1,Warehouse_Nonrefrigerated,66000.0,2.4,56.854839,115,2960,16.59,3.899395,False,...,False,False,False,False,False,False,False,True,False,False
5,1,Warehouse_Selfstorage,119900.0,2.4,56.854839,115,2960,16.59,6.597715,False,...,False,False,False,False,False,False,False,False,False,True
6,1,Warehouse_Nonrefrigerated,91367.0,2.4,56.854839,115,2960,16.59,12.817841,False,...,False,False,False,False,False,False,False,True,False,False
7,1,Warehouse_Nonrefrigerated,50422.0,2.4,56.854839,115,2960,16.59,22.392014,False,...,False,False,False,False,False,False,False,True,False,False
8,1,Office_Uncategorized,122020.0,2.4,56.854839,115,2960,16.59,28.199578,False,...,False,False,False,False,False,False,False,False,False,False
9,1,Office_Uncategorized,102612.0,2.4,56.854839,115,2960,16.59,29.515952,False,...,False,False,False,False,False,False,False,False,False,False

In [25]:
df_final = df.drop('facility_type',axis='columns')
df_final.shape

(75757, 67)

In [26]:
df_final.head()

,year_factor,floor_area,elevation,avg_temp,cooling_degree_days,heating_degree_days,precipitation_inches,site_eui,2to4_Unit_Building,5plus_Unit_Building,...,Retail_Strip_shopping_mall,Retail_Uncategorized,Retail_Vehicle_dealership_showroom,Service_Drycleaning_or_Laundry,Service_Uncategorized,Service_Vehicle_service_repair_shop,Warehouse_Distribution_or_Shipping_center,Warehouse_Nonrefrigerated,Warehouse_Refrigerated,Warehouse_Selfstorage
0,1,61242.0,2.4,56.854839,115,2960,16.59,248.682615,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,274000.0,1.8,56.854839,115,2960,16.59,26.500150,False,False,...,False,False,False,False,False,False,True,False,False,False
2,1,280025.0,1.8,56.854839,115,2960,16.59,24.693619,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,55325.0,1.8,56.854839,115,2960,16.59,48.406926,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,66000.0,2.4,56.854839,115,2960,16.59,3.899395,False,False,...,False,False,False,False,False,False,False,True,False,False

In [27]:
X = df_final.drop(['site_eui'],axis='columns')
X.head(3)

,year_factor,floor_area,elevation,avg_temp,cooling_degree_days,heating_degree_days,precipitation_inches,2to4_Unit_Building,5plus_Unit_Building,Commercial_Other,...,Retail_Strip_shopping_mall,Retail_Uncategorized,Retail_Vehicle_dealership_showroom,Service_Drycleaning_or_Laundry,Service_Uncategorized,Service_Vehicle_service_repair_shop,Warehouse_Distribution_or_Shipping_center,Warehouse_Nonrefrigerated,Warehouse_Refrigerated,Warehouse_Selfstorage
0,1,61242.0,2.4,56.854839,115,2960,16.59,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,274000.0,1.8,56.854839,115,2960,16.59,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,1,280025.0,1.8,56.854839,115,2960,16.59,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [28]:
y = df_final.site_eui
y.head(3)

0    248.682615
1     26.500150
2     24.693619
Name: site_eui, dtype: float64

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [30]:
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score
def train_and_evaluate_models(X_train,X_test, y_train, y_test):
    # Initialize different regression models
    models = [
        ("Linear Regression", LinearRegression()),
        ("Decision Tree", DecisionTreeRegressor()),
        ("Random Forest", RandomForestRegressor()),
        ("SVM", SVR()),
        ("K-Nearest Neighbors", KNeighborsRegressor())
    ]
    #Create lists to store the results
    model_names = []
    mse_values = []
    mae_values = []
    rmse_values=[]
    r2_values = []
    
    
    # Fit and evaluate each model
    for model_name, model in models:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)

        mse=mean_squared_error(y_test, y_pred)
        mae=mean_absolute_error(y_test, y_pred)
        rmse=mean_squared_error(y_test, y_pred, squared=False)
        r2 = r2_score(y_test, y_pred)
        model_names.append(model_name)
        mse_values.append(mse)
        mae_values.append(mae)
        rmse_values.append(rmse)
        r2_values.append(r2)
        
        
    metrics_df=pd.DataFrame({
            'Model': model_names,
            'Mean Absolute Error': mae_values,
            'Root Mean Squared Error': rmse_values,
            'Mean Squared Error': mse_values,
            'R-squared (R2)': r2_values
        })
    return metrics_df

In [31]:
train_and_evaluate_models(X_train,X_test,y_train, y_test)

,Model,Mean Absolute Error,Root Mean Squared Error,Mean Squared Error,R-squared (R2)
0,Linear Regression,28.673322,52.299442,2735.231602,0.221484
1,Decision Tree,33.954855,63.328730,4010.528105,-0.141498
2,Random Forest,28.947196,51.151521,2616.478079,0.255284
3,SVM,33.049716,59.592684,3551.288023,-0.010786
4,K-Nearest Neighbors,35.274315,60.491930,3659.273593,-0.041522

In [33]:

def train_and_evaluate_models(X_train,X_test, y_train, y_test):
    # Initialize different regression models
    models = [
        ("XGBoost", XGBRegressor()),
    ]
    #Create lists to store the results
    model_names = []
    mse_values = []
    mae_values = []
    rmse_values=[]
    r2_values = []
    
    
    # Fit and evaluate each model
    for model_name, model in models:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)

        mse=mean_squared_error(y_test, y_pred)
        mae=mean_absolute_error(y_test, y_pred)
        rmse=mean_squared_error(y_test, y_pred, squared=False)
        r2 = r2_score(y_test, y_pred)
        model_names.append(model_name)
        mse_values.append(mse)
        mae_values.append(mae)
        rmse_values.append(rmse)
        r2_values.append(r2)
        
        
    metrics_df=pd.DataFrame({
            'Model': model_names,
            'Mean Absolute Error': mae_values,
            'Root Mean Squared Error': rmse_values,
            'Mean Squared Error': mse_values,
            'R-squared (R2)': r2_values
        })
    return metrics_df
train_and_evaluate_models(X_train,X_test,y_train, y_test)

C:\Users\chauh\.conda\envs\tf_new\lib\site-packages\xgboost\data.py:299: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
C:\Users\chauh\.conda\envs\tf_new\lib\site-packages\xgboost\data.py:301: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
C:\Users\chauh\.conda\envs\tf_new\lib\site-packages\xgboost\data.py:332: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
C:\Users\chauh\.conda\envs\tf_new\lib\site-packages\xgboost\data.py:323: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)
C:\Users\chauh\.conda\envs\tf_new\lib\site-packages\xgboost\data.py:427: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(data):
C:\Users\chauh\.conda\envs\tf_new\lib\site-packages\xgboost\data.py:299: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(dtype):
C:\Users\chauh\.conda\envs\tf_new\lib\site-packages\xgboost\data.py:301: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(dtype) and enable_categorical:
C:\Users\chauh\.conda\envs\tf_new\lib\site-packages\xgboost\data.py:332: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype)
C:\Users\chauh\.conda\envs\tf_new\lib\site-packages\xgboost\data.py:323: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return is_int or is_bool or is_float or is_categorical_dtype(dtype)

,Model,Mean Absolute Error,Root Mean Squared Error,Mean Squared Error,R-squared (R2)
0,XGBoost,27.291598,49.759587,2476.016505,0.295263

In [40]:
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)

LinearRegression()

In [41]:
lr_clf.score(X_test,y_test)

0.2214840059339659

In [42]:
def predict_price(facility_type,year_factor,floor_area,elevation,avg_temp,cooling_degree_days,heating_degree_days,precipitation_inches):    
    loc_index = np.where(X.columns==facility_type)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = year_factor
    x[1] = floor_area
    x[2] = elevation
    x[3]= avg_temp
    x[4]=cooling_degree_days
    x[5]=heating_degree_days
    x[6]= precipitation_inches
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]

In [43]:
predict_price('Grocery_store_or_food_market',1,61412,2.4,56.85,115,2960,16.59)

C:\Users\chauh\.conda\envs\tf_new\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

224.22410370812153

In [44]:
import pickle
with open('building_site_eui.pickle','wb') as f:
    pickle.dump(lr_clf,f)
    
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))